*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span{
  display: block;
}
.movieseries{
  width: 33%;
  margin:20px 0
}
.libreriaFilm,.libreriaSerie{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
